<input type="file" accept=".csv" (change)="onFileSelected($event)" />

@if (previewData.length > 0) {
<div>
  <h3>Preview</h3>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Category</th>
        <th>Amount</th>
        <th>Description</th>
      </tr>
    </thead>

    <tbody>
      @for (row of previewData; track row.description) {
      <tr>
        <td>{{ row.date }}</td>
        <td>{{ row.category }}</td>
        <td>{{ row.amount }}</td>
        <td>{{ row.description }}</td>
      </tr>
      }
    </tbody>
  </table>

  <button>Submit to Database</button>
</div>
}
